.login-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.login-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
    width: 420px;
    padding-left: 10px;
    padding-right: 10px;
}

.logo-container {
    padding-bottom: 40px;
}

.logo {
    width: 100%;
}

.input-container {
    width: 100%;
    padding-top: 30px;
    font-family: inherit;
    color: #121B28;
}

.MuiSvgIcon-root {
    fill: #121B28;
}

/* .MuiInputBase-input {
    padding-left: 5px;
} */

.MuiInputBase-root {
    border-radius: 25px;
    background-color: #D3CCCC;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
}

.error-msg {
    color: red;
    padding-top: 5px;
    padding-left: 10px;
    font-size: 14px;
}

.button-container {
    padding-top: 70px;
}
 
.login-button {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background-color: #D3CCCC;
    color: #121B28;
    font-weight: 500;
    border: none;
    box-shadow: none;
    text-transform: none;
    font-family: inherit;
    font-size: 22px;
    cursor: pointer;
    &:hover {
        background-color: #121B28;
        color: #D3CCCC;
    };
}

.forgot-link{
    display: flex;
    justify-content: right;
    padding-top: 3px;
}

a {
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    color: #121B28;
    cursor: pointer;
}


